<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-8">
      {{#each jobs as |job|}}
          <div class="row ">
              <div class="job">
                <div class="col-md-4">
                {{job.job_title}} At {{job.company_name}}
                <br>
                {{job.job_description}}
                </div>
                <div class="col-md-4">
                    <span class="badge">{{job.company_location}}</span>
                    <span class="badge">{{job.job_type}}</span>
                    <span class="badge">{{job.location_type}}</span>
                </div>
            </div>
          </div>
      {{/each}}
    </div>
    <div class="col-md-4">
    
    </div>
  </div>
</div> 

