<div class="container">
  <!-- Example row of columns -->
  <div class="row margin-md">
    <div class="col-md-8">
      {{#each jobs as |job|}}
      <a class="view" href="/jobs/view/{{job.slug}}">
          <div class="row job">
            <div class="">
              <div class="col-md-6">
              <h4>
                <b>{{job.textfield_27716413}}</b>
                <span class="no-bold">
                  At {{job.textfield_27716477}}
                </span>
                <span class="no-bold description">
                    <br>
                    {{job.textarea_27716421}}
                </span>
              </h4>
              </div>
              <div class="col-md-6">
                <h4 >
                  <span class="badge asp-violet badge-radio thin">{{job.textfield_27716361}}</span>
                  <span class="badge asp-violet badge-radio thin">{{job.list_27717784_choice}}</span>
                  <span class="badge asp-violet badge-radio thin">

                  {{#ifeq job.list_27718927_choice 'Remote'}}
                    <i class="fa fa-wifi thin"></i>
                  {{else}}
                    <i class="fa fa-briefcase thin"></i>
                  {{/ifeq}}
                  {{job.list_27718927_choice}}</span>
                  <div class="pull-right thin">
                    {{#humanize job.metadata.date_submit}}
                    {{/humanize}}
                  </div>
                   </h4>
              </div>
            </div>
          </div>
          </a>
      {{/each}}
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
