<div class="container">
  <div class="row margin-md">
    <section class="col-md-8">
      {{#each jobs as |job|}}
      <a class="view" href="/jobs/{{job.slug}}/{{job._id}}">
          <article class="row job">
            <div class="col-md-6">
              <div><b class="job-title">{{job.job_title}}</b></div>
              <div>
                <span class="light-gray">at </span>
                <b class="sub-title">{{job.company_name}}</b>
                <span class="light-gray"> in </span>
                <b class="sub-title">{{job.company_location}}</b>
              </div>
            </div>
            <div class="col-md-6">
              <h4 >
                <span class="badge asp-violet badge-radio thin">{{job.job_type}}</span>
                <span class="badge asp-violet badge-radio thin">
                  {{#ifeq job.location_type 'Remote'}}
                    <i class="fa fa-wifi thin"></i>
                  {{else}}
                    <i class="fa fa-briefcase thin"></i>
                  {{/ifeq}}
                  {{job.location_type}}
                </span>
                <div class="pull-right thin">
                  {{#humanize job.metadata.date_submit}}{{/humanize}} ago
                </div>
              </h4>
            </div>
          </article>
      </a>
      {{/each}}
    </section>
    <section class="col-md-4 text-center">
        <hgroup>
          <h4 class="weekly-text">
            Get the latest new jobs in your inbox every day
            <!--<select class="frecuency">
                <option value="Day">day</option>
                <option value="Week" selected>week</option>
                <option value="2">month</option>
            </select>-->
          </h4>
          <br>
        </hgroup>
        <form class="subscribe-container" method="POST" action="/subscription/insert">
          <div class="input-group">
            <input class="form-control subscribe-input" name="email" id="email" type="email" placeholder="Your Email" required>
            <button class="btn btn-info asp-violet" type="submit">Submit</button>
          </div>
        </form>
        <!--<small class="promise"><em>We won't send spam.</em></small>-->
    </section>
  </div>
</div>
