<div class="container">
  <div class="row">
    <section class="col-md-8 job-post">
      <div>
        <h1>{{job.0.textfield_27716413}}</h1>
        <p>
          <span class="light-gray">at </span>
          <b class="sub-title">{{job.0.textfield_27716477}}</b>
          <span class="light-gray"> in </span>
          {{#if website_28133080}}
            <a target="_blank" href="{{website_28133080}}">
              <b class="sub-title">{{job.0.textfield_27716361}}</b>
            </a>
          {{else}}
            <b class="sub-title">{{job.0.textfield_27716361}}</b>
          {{/if}}
        </p>
        <p>Job Post - {{formatDate job.0.metadata.date_submit 'LL'}}</p>
        <p>
          <span class="badge asp-violet badge-radio thin">{{job.0.list_27717784_choice}}</span>
          <span class="badge asp-violet badge-radio thin">

          {{#ifeq job.0.list_27718927_choice 'Remote'}}
            <i class="fa fa-wifi thin"></i>
          {{else}}
            <i class="fa fa-briefcase thin"></i>
          {{/ifeq}}
          {{job.0.list_27718927_choice}}</span>
        </p>
        <legend></legend>
      </div>

      <p>{{{markdown job.0.textarea_27716421}}}</p>


      {{#if job.0.textarea_27716460}}
        <legend><h2>How to apply</h2></legend>
        <p>
            {{{markdown job.0.textarea_27716460}}}
        </p>
      {{/if}}

      {{#if job.0.website_28133080}}
        <a class="col-xs-12 btn btn-magick btn-lg btn3d text-center" href="{{job.0.website_28133080}}">Apply for this position</a>
      {{/if}}
    </section>

     <section class="col-md-4 text-center">
        <hgroup>
          <h4 class="weekly-text">
            Get the latest new jobs in your inbox every day
            <!--<select class="frecuency">
                <option value="Day">day</option>
                <option value="Week" selected>week</option>
                <option value="2">month</option>
            </select>-->
          </h4>
          <br>
        </hgroup>
        <form class="subscribe-container" method="POST" action="/subscription/insert">
          <div class="input-group">
            <input class="form-control subscribe-input" name="email" id="email" type="email" placeholder="Your Email" required>
            <button class="btn btn-info asp-violet" type="submit">Submit</button>
          </div>
        </form>
        <!--<small class="promise"><em>We won't send spam.</em></small>-->
    </section>
  </div>
</div>
