<!--<script src="/js/share.js"></script>-->
<!--<script src="/js/parser.js"></script>-->
<script src="/js/jssocials.min.js"></script>
  <link href="/stylesheets/jssocials.css" rel="stylesheet">

<div class="container margin-md">
  <div class="row">
    <section class="col-md-8 job-post">
      <div>
        <h1>{{job.job_title}}</h1>
        <p>
          <span class="light-gray">at </span>
          {{#if job.company_url}}
            <a target="_blank" href="{{job.company_url}}">
              <b class="sub-title">{{job.company_name}}</b>
            </a>
          {{else}}
            <b class="sub-title">{{job.company_name}}</b>
          {{/if}}
          <span class="light-gray"> in </span>
          <b class="sub-title">{{job.company_location}}</b>

        </p>
        <p>Job Post - {{formatDateTime job.created_at "l"}}</p>
        <p>
          <span class="badge asp-violet badge-radio thin">{{job.job_type}}</span>
          <span class="badge asp-violet badge-radio thin">

          {{#ifeq job.location_type 'Remote'}}
            <i class="fa fa-wifi thin"></i>
          {{else}}
            <i class="fa fa-briefcase thin"></i>
          {{/ifeq}}
          {{job.location_type}}</span>
        </p>
        <legend></legend>
      </div>

      <p>{{{job.job_description}}}</p>

      {{#if job.company_description}}
        <h3 class="margin-bottom-none">Company</h3>
        <p>
            {{{job.company_description}}}
        </p>
      {{/if}}
      {{#if job.company_apply}}
        <h3 class="margin-bottom-none">How to apply</h3>
        <p>
            {{{job.company_apply}}}
        </p>
      {{/if}}

      {{#if job.company_url}}
        <div class="col-xs-12 margin-md">

          <center >
            <a class=" btn btn-info asp-violet text-center" href="{{job.company_url}}" target="_blank">Apply for this position</a>
          </center>
        </div>
      {{/if}}
    </section>

     <section class="col-md-4 text-center">
       {{#if job.company_url}}
          <div class="margin-sm-top visible-md-block visible-lg-block">
            <a class="btn btn-info btn-side asp-violet text-center" href="{{job.company_url}}" target="_blank">Apply for this position</a>
          </div>
        {{/if}}

        <div class="margin-md-top">
          <div class="clear"></div>
          <h4 class="weekly-text">
            Share this job
          </h4>
          <!--<div class="btn-group " role="group" aria-label="...">
              <a class=" btn text-center btn-facebook text-center" href="{{job.company_url}}"><i class="fa fa-facebook"> </i></a>
              <a class=" btn text-center btn-twitter text-center" data-service="twitter" data-title="share twitter"><i class="fa fa-twitter"></i></a>
              <a class=" btn text-center btn-linkedin text-center" data-service="twitter" data-title="share linkedin"><i class="fa fa-linkedin"></i></a>
              <a class=" btn text-center btn-email text-center border-grey" href="email"><i class="fa fa-envelope-o"></i></a>

          </div>-->

           <div id="share">
          
        </div>

        </div>

       
        <!--<hgroup>
          <h4 class="weekly-text">
            Get the latest new jobs in your inbox every day-->
            <!--<select class="frecuency">
                <option value="Day">day</option>
                <option value="Week" selected>week</option>
                <option value="2">month</option>
            </select>-->
          <!--</h4>
          <br>
        </hgroup>
        <form class="subscribe-container" method="POST" action="/subscription/insert">
          <div class="input-group">
            <input class="form-control subscribe-input" name="email" id="email" type="email" placeholder="Your Email" required>
            <button class="btn btn-info asp-violet" type="submit">Submit</button>
          </div>
        </form>-->
        <!--<small class="promise"><em>We won't send spam.</em></small>-->
    </section>
  </div>
</div>

<script>
 $("#share").jsSocials({
   url: "http://www.google.com",
    text: "Google Search Page",
    showLabel: false,
    showCount: false,
    shares: ["facebook", "twitter", "linkedin", "email"]
});
</script>
