<div class="container">
  <!-- Example row of columns -->
  <div class="row margin-md">
    <div class="col-md-8">
      {{#each jobs as |job|}}
          <div class="row job">
            <div class="">
              <div class="col-md-4">
              {{job.job_title}} At {{job.company_name}}
              <br>
              {{job.job_description}}
              </div>
              <div class="col-md-8">
                  <span class="badge asp-violet badge-radio">{{job.company_location}}</span>
                  <span class="badge asp-violet badge-radio">{{job.job_type}}</span>
                  <span class="badge asp-violet badge-radio">
                  {{#ifeq job.location_type 'Remote'}}
                    <i class="fa fa-wifi"></i>
                  {{else}}
                    <i class="fa fa-briefcase"></i>
                  {{/ifeq}}
                  {{job.location_type}}</span>
                  <div class="pull-right">
                    {{#humanize job.created_at}}
                    {{/humanize}}
                  </div>
              </div>
            </div>
          </div>
      {{/each}}
    </div>
    <div class="col-md-4">
    
    </div>
  </div>
</div> 

