<script src="/js/share.js"></script>
<script src="/js/parser.js"></script>
<div class="container margin-md">
  <div class="row">
    <section class="col-md-8 job-post">
      <div>
        <h1>{{job.0.textfield_27716413}}</h1>
        <p>
          <span class="light-gray">at </span>
          <b class="sub-title">{{job.0.textfield_27716477}}</b>
          <span class="light-gray"> in </span>
          <b class="sub-title">{{job.0.textfield_27716361}}</b>
        </p>
        <p>Job Post - {{formatDateTime job.0.metadata.date_submit "l"}}</p>
        <p>
          <span class="badge asp-violet badge-radio thin">{{job.0.list_27717784_choice}}</span>
          <span class="badge asp-violet badge-radio thin">

          {{#ifeq job.0.list_27718927_choice 'Remote'}}
            <i class="fa fa-wifi thin"></i>
          {{else}}
            <i class="fa fa-briefcase thin"></i>
          {{/ifeq}}
          {{job.0.list_27718927_choice}}</span>
        </p>
        <legend></legend>
      </div>

      <p>{{{markdown job.0.textarea_27716421}}}</p>

      {{#if job.0.website_28133080}}
        <div class="col-xs-12 margin-md">
         
          <center >
            <a class=" btn btn-info asp-violet text-center" href="{{job.0.website_28133080}}">Apply for this position</a>
          </center>
        </div>
      {{/if}}
    </section>

     <section class="col-md-4 text-center">
        <div class="margin-sm-top">
          <a class="btn btn-info btn-side asp-violet text-center" href="{{job.0.website_28133080}}">Apply for this position</a>
        </div>

        <div class="margin-md-top">
          <h4 class="weekly-text">
            Share this job
          </h4>
          <div class="btn-group " role="group" aria-label="...">
              <a class=" btn text-center btn-facebook text-center" href="{{job.0.website_28133080}}"><i class="fa fa-facebook"> </i></a>
              <a class=" btn text-center btn-twitter text-center" data-service="twitter" data-title="share twitter"><i class="fa fa-twitter"></i></a>
              <a class=" btn text-center btn-linkedin text-center" data-service="twitter" data-title="share linkedin"><i class="fa fa-linkedin"></i></a>
              <a class=" btn text-center btn-email text-center border-grey" href="email"><i class="fa fa-envelope-o"></i></a>

          </div>
        </div>
        
        <!--<hgroup>
          <h4 class="weekly-text">
            Get the latest new jobs in your inbox every day-->
            <!--<select class="frecuency">
                <option value="Day">day</option>
                <option value="Week" selected>week</option>
                <option value="2">month</option>
            </select>-->
          <!--</h4>
          <br>
        </hgroup>
        <form class="subscribe-container" method="POST" action="/subscription/insert">
          <div class="input-group">
            <input class="form-control subscribe-input" name="email" id="email" type="email" placeholder="Your Email" required>
            <button class="btn btn-info asp-violet" type="submit">Submit</button>
          </div>
        </form>-->
        <!--<small class="promise"><em>We won't send spam.</em></small>-->
    </section>
  </div>
</div>

<script>
  var list = document.getElementsByTagName('a');
  Share.init(list, {
      title: 'share it',
      url: 'https://github.com/popomore/social-share'
  });
</script>