<div class="container">
  <div class="row margin-md">
    <section class="col-md-8">
      {{#each jobs as |job|}}
      <a class="view" href="/jobs/{{slug job.textfield_27716413}}/{{job._id}}">
          <article class="row job">
            <div class="col-md-6">
              <div><b class="job-title">{{job.textfield_27716413}}</b></div>
              <div>
                <span class="light-gray">at </span>
                <b class="sub-title">{{job.textfield_27716477}}</b>
                <span class="light-gray"> in </span>
                <b class="sub-title">{{job.textfield_27716361}}</b>
              </div>
            </div>
            <div class="col-md-6">
              <h4>
                <span class="badge asp-violet badge-radio thin">{{job.list_27717784_choice}}</span>
                <span class="badge asp-violet badge-radio thin">
                  {{#ifeq job.list_27718927_choice 'Remote'}}
                    <i class="fa fa-wifi thin"></i>
                  {{else}}
                    <i class="fa fa-briefcase thin"></i>
                  {{/ifeq}}
                  {{job.list_27718927_choice}}
                </span>
                <div class="pull-right thin">
                  {{#humanize job.metadata.date_submit}}{{/humanize}} ago
                </div>
              </h4>
            </div>
          </article>
      </a>
      {{/each}}
    </section>
    <section class="col-md-4 text-center">
        <hgroup>
          <h4>
            Subscribe for
            <select class="frecuency">
                <option value="0">daily</option>
                <option value="1" selected>weekly</option>
                <option value="2">monthly</option>
            </select>
            newsletter 
          </h4>
          <h3 class="free">For Free</h3>
        </hgroup>
        <form action="#">
          <div class="input-group">
            <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
            <button class="btn btn-info btn-lg asp-violet" type="submit">Submit</button>
          </div>
        </form>
        <!--<small class="promise"><em>We won't send spam.</em></small>-->
        
    </section>
  </div>
</div>
