<link href="/stylesheets/jssocials.css" rel="stylesheet">
<script src="/js/jssocials.min.js"></script>

<div class="container-info container margin-md">
  <div class="row">
    <section class="col-md-8 job-post">
      <div>
        <h1>{{job.job_title}}</h1>
        <p>
          <span class="light-gray">at </span>
          {{#if job.company_url}}
            <a target="_blank" href="{{job.company_url}}">
              <b class="sub-title">{{job.company_name}}</b>
            </a>
          {{else}}
            <b class="sub-title">{{job.company_name}}</b>
          {{/if}}
          <span class="light-gray"> in </span>
          <b class="sub-title">{{job.company_location}}</b>

        </p>
        <p>Job Post - {{formatDateTime job.created_at "l"}}</p>
        <p>
          <span class="badge asp-violet badge-radio thin">{{job.job_type}}</span>
          <span class="badge asp-violet badge-radio thin">

          {{#ifeq job.location_type 'Remote'}}
            <i class="fa fa-wifi thin"></i>
          {{else}}
            <i class="fa fa-briefcase thin"></i>
          {{/ifeq}}
          {{job.location_type}}</span>
        </p>
        <legend></legend>
      </div>

      <p>{{{job.job_description}}}</p>

      {{#if job.company_description}}
        <h3 class="margin-bottom-none">Company</h3>
        <p>
            {{{job.company_description}}}
        </p>
      {{/if}}
      {{#if job.company_apply}}
        <h3 class="margin-bottom-none">How to apply</h3>
        <p>
            {{{job.company_apply}}}
        </p>
      {{/if}}

      {{#if job.company_url}}
        <div class="col-xs-12 margin-md visible-md-block visible-lg-block" >

          <center >
            <a class=" btn btn-info asp-violet text-center" href="{{job.company_url}}" target="_blank">Apply for this position</a>
          </center>
        </div>
      {{/if}}
    </section>

     <section class="col-md-4 text-center">
       {{#if job.company_url}}
          <div class="margin-sm-top ">
            <a class="btn btn-info btn-side asp-violet text-center" href="{{job.company_url}}" target="_blank">Apply for this position</a>
          </div>
        {{/if}}

        <div class="margin-md-top">
          <div class="clear"></div>
          <h4 class="weekly-text">
            Share this job
          </h4>
           <div id="share"></div>

        </div>
    </section>
  </div>
</div>

<script>
 $("#share").jsSocials({
    url: window.location.href,
    text: '{{title}}',
    showLabel: false,
    showCount: false,
    shares: ["facebook", "twitter", "linkedin", "email"]
});
</script>
