<div bgcolor="f9fafa" style="border:0;margin:0;padding:0;min-width:100%">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="f9fafa" style="border:0;margin:0;padding:0">
                    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#5B2C92" width="100%">
                        <tbody>
                            <tr>
                                <td align="center" style="border:0;margin:0;padding:0">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" height="17" style="border:0;margin:0;padding:0">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="color:#5B2C92">

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="1" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                                    <div style="min-height:1px;width:1px"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" valign="middle">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                                                    <div style="min-height:1px;width:20px"></div>
                                                                </td>
                                                                <td style="border:0;margin:0;padding:0" width="100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" height="150" style="border:0;margin:0;padding:0">
                                                                                    <a style="text-decoration: none;" href="{{page}}"
                                                                                        style="border:0;margin:0;padding:0" target="_blank">
                                                                                        <span>
                                                                                        <h1 class="asp-jobs">Asp Jobs</h1>
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                                                    <span style="color:#f39220;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:35px">

</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="1" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                                                                    <div style="min-height:1px;width:1px"></div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                                                    <div style="min-height:1px;width:20px"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="22" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="100%">
                                                    <div style="min-height:22px;width:1px"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #e4e6e8;border-top:1px solid #e4e6e8" width="100%">
                        <tbody>
                            <tr>
                                <td align="center" style="border:0;margin:0;padding:0">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                    <div style="min-height:28px;width:1px"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                    <div style="min-height:1px;width:20px"></div>
                                                </td>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="460">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                                                                    <div style="min-height:1px;width:1px"></div>
                                                                </td>
                                                                <td align="left" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;color:#555;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:normal;line-height:20px" width="100">
                                                                    <div class="padding-horizontal"> 
                                                                        <h2 class="color-grey">Hi!</h2>
                                                                        <p class="color-grey">There are <b>{{job_count}}</b> new jobs posted this week on AspJobs that might interest you.</p>
                                                                    </div>
                                                                   {{#each jobs as |job|}}
                                                                        <a target="_blank" class="view" href="http://aspjobs.hoerkuapp.com/jobs/detail/{{job.slug}}">
                                                                            <article class="row job">
                                                                                <div class="col-md-6">
                                                                                <div><b class="job-title">{{job.job_title}}</b></div>
                                                                                <div>
                                                                                    <span class="light-gray">at </span>
                                                                                    <b class="sub-title">{{job.company_name}}</b>
                                                                                    <span class="light-gray"> in </span>
                                                                                    <b class="sub-title">{{job.company_location}}</b>
                                                                                </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                <h4 >
                                                                                    <span class="badge asp-violet badge-radio thin">{{job.job_type}}</span>
                                                                                    <span class="badge asp-violet badge-radio thin">
                                                                                    
                                                                                    {{job.location_type}}
                                                                                    </span>
                                                                                    <div class="pull-right thin date-text">
                                                                                    {{#humanize job.created_at}}{{/humanize}} ago
                                                                                    </div>
                                                                                </h4>
                                                                                </div>
                                                                            </article>
                                                                        </a>
                                                                    {{/each}}
                                                                </td>
                                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="1">
                                                                    <div style="min-height:1px;width:1px"></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                                    <div style="min-height:28px;width:1px"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                    <div style="min-height:1px;width:20px"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color:#5B2C92;border:0;margin:0;padding:0">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                    <div style="min-height:28px;width:1px"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                                    <div style="min-height:1px;width:20px"></div>
                                                </td>
                                                <td align="center" style="border:0;margin:0;padding:0;color:#959fa5;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:17px">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td height="28" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                                    <div style="min-height:28px;width:1px"></div>
                                                                </td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td style="color:white;border-collapse:collapse;color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;text-align:center" valign="top">
                                                                    <em style="color:white;">Copyright © 2016 Angry Developers. All rights reserved.</em>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="20">
                                                    <div style="min-height:1px;width:20px"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="200" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                    <div style="min-height:28px;width:1px"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>